{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://github.com/hrutvikyadav">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/hrutvikyadav/">LinkedIn</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}
